[Unit]
Description=GitHub Actions Runner
After=network.target

[Service]
User={{ ansible_user }}
WorkingDirectory=/opt/actions-runner
ExecStart=/opt/actions-runner/run.sh
Restart=always

[Install]
WantedBy=multi-user.target